:root {
    --font-family: 'Roboto', sans-serif;
    --primary-color: #EF2C1D;
    --secondary-color: #006298;
    --third-color: #006298;
    --gradient-color:  linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    --gradient-color-2: linear-gradient(90deg, var(--secondary-color)  0%, var(--primary-color)  100%);
    --text-color: #000000;
    --font-size: 1vw;
    --ease: cubic-bezier(0.25, 1, 0.5, 1);
    --white-color: #fff;

    @media only screen and (min-width:767px) and (max-width:1200px){
        --font-size: 1.5vw;
    }

    @media only screen and (max-width:767px){
        --font-size: 2.5vw;
    }

}

