<section class="in_section no_padding_bottom" id="about">
    <div class="container">
        <div class="about_wrapper">

            <div class="item_">
                <div class="image_box">
                    <picture>
                        <source srcset="./images/about-image.png" />
                        <img src="./images/about-image.png" alt="VISANDBIZ About Us" loading="lazy"/>
                    </picture>
                </div>
            </div>

            <div class="item_ flex_">
              <div class="inner_">
                <div class="title_wrapper">
                    <h2><span>About Us</span></h2>
                </div>
                <div class="text_area">
                    <p>VISANDBIZ Business Services is one of the best Business set up and PRO services Company in Dubai. Providing the best
                        services for our prestigious clients over a decade. Our mission is to provide the premium service in
                        the normal cost at the door step of your home, office or where ever you are to save the time and
                        hassle free of our clients including free consultation, Documents collection, Return the same after
                        successful completion of transactions. Obtaining the various approvals easily and timely using
                        professional experience and right way of Submission.</p>
                    <!-- <p>VISANDBIZ brings together the combined experience of over 12 years in offering business setup and
                        Government related Documents clearing solutions. The team at the helm of VISANDBIZ has the
                        professionalism and expertise that has taken the company where it is today- one of the region’s
                        most respected and sought after.</p> -->
                </div>
              </div>

              <div class="about_widget">
                <div class="list_ plus_">
                    <strong data-nd-counter="5000">0</strong>
                    <label>Happy customers</label>
                </div>
                <div class="list_">
                    <strong data-nd-counter="22">0</strong>
                    <label>Services </label>
                </div>
                <div class="list_ plus_">
                    <strong data-nd-counter="30">0</strong>
                    <label>partners</label>
                </div>
              </div>
            </div>

        </div>
    </div>
</section>