<section class="in_section" id="associates">
    <div class="container">
        <div class="title_wrapper">
            <h2><span>Our Associates</span></h2>

            <div class="swiper_nav dark_" data-s-nav="associates">
                <button class="prev_">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38.464" height="39.707" viewBox="0 0 38.464 39.707">
                        <g id="prev" transform="translate(1.5 2.121)">
                          <rect id="Area" width="35" height="35" transform="translate(0.464 0)" fill="#fcfcfc" opacity="0"/>
                          <g id="Icon" transform="translate(0 0)">
                            <line id="c10c7a6f-d55e-4860-a4af-cc8799cc38e2" x1="35" transform="translate(0.464 18)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            <path id="caa8ae0b-72f7-441d-83c9-e60ed51d84a2" d="M34.875,7.143,17.143,24.875,34.875,42.607" transform="translate(-17.143 -7.143)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                          </g>
                        </g>
                      </svg>
                      
                </button>

                <button class="next_">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38.464" height="39.706" viewBox="0 0 38.464 39.706">
                        <g id="next" transform="translate(1.5 2.121)">
                          <rect id="Area" width="35" height="35" fill="#fcfcfc" opacity="0"/>
                          <g id="Icon" transform="translate(0 0)">
                            <line id="c10c7a6f-d55e-4860-a4af-cc8799cc38e2" x2="35" transform="translate(0 18)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            <path id="caa8ae0b-72f7-441d-83c9-e60ed51d84a2" d="M17.143,7.143,34.875,24.875,17.143,42.607" transform="translate(0.589 -7.143)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                          </g>
                        </g>
                      </svg>
                </button>
            </div>
        </div>

        <div class="associates_wrapper">
            <div class="swiper_">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-01.jpg" />
                                <img src="./images/a-01.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-02.jpg" />
                                <img src="./images/a-02.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-03.jpg" />
                                <img src="./images/a-03.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-04.jpg" />
                                <img src="./images/a-04.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-05.jpg" />
                                <img src="./images/a-05.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-06.jpg" />
                                <img src="./images/a-06.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-07.jpg" />
                                <img src="./images/a-07.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-08.jpg" />
                                <img src="./images/a-08.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-09.jpg" />
                                <img src="./images/a-09.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="link_">
                            <picture>
                                <source srcset="./images/a-10.jpg" />
                                <img src="./images/a-10.jpg" loading="lazy" alt="Services VISANDBIZ" />
                            </picture>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>