<section class="banner_section" id="home">
    <div class="banner_container">
        <div class="video_bg">
            <video id="background_video" loop="" muted="" autoplay="" playsinline="">
                <source src="./video/banner.mp4" type="video/mp4">
            </video>
        </div>

        <!-- <div class="banner_bg">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 311.4 353.2" enable-background="new 0 0 311.4 353.2" xml:space="preserve">
<g>
	
		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="333.3306" y1="359.4893" x2="-0.2194" y2="66.4393" gradientTransform="matrix(1 0 0 -1 0 478)">
		<stop  offset="0" style="stop-color:#EC2A90"/>
		<stop  offset="6.000000e-02" style="stop-color:#D73597"/>
		<stop  offset="0.18" style="stop-color:#9F53A9"/>
		<stop  offset="0.34" style="stop-color:#4882C5"/>
		<stop  offset="0.47" style="stop-color:#00A8DC"/>
		<stop  offset="0.77" style="stop-color:#FDD301"/>
		<stop  offset="1" style="stop-color:#EC1E29"/>
	</linearGradient>
	<polygon fill="url(#SVGID_1_)" points="141.8,323 48.4,253.2 0,277.3 152.6,353.2 305.2,277.3 302.9,276.2 	"/>
	
		<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="309.6202" y1="386.4698" x2="-23.9198" y2="93.4198" gradientTransform="matrix(1 0 0 -1 0 478)">
		<stop  offset="0" style="stop-color:#EC2A90"/>
		<stop  offset="6.000000e-02" style="stop-color:#D73597"/>
		<stop  offset="0.18" style="stop-color:#9F53A9"/>
		<stop  offset="0.34" style="stop-color:#4882C5"/>
		<stop  offset="0.47" style="stop-color:#00A8DC"/>
		<stop  offset="0.77" style="stop-color:#FDD301"/>
		<stop  offset="1" style="stop-color:#EC1E29"/>
	</linearGradient>
	<polygon fill="url(#SVGID_2_)" points="137.1,259.1 74.1,161 20.3,166.6 136.6,291.2 306.1,273.7 304.4,271.9 	"/>
	
		<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="298.0194" y1="399.6807" x2="-35.5305" y2="106.6306" gradientTransform="matrix(1 0 0 -1 0 478)">
		<stop  offset="0" style="stop-color:#EC2A90"/>
		<stop  offset="6.000000e-02" style="stop-color:#D73597"/>
		<stop  offset="0.18" style="stop-color:#9F53A9"/>
		<stop  offset="0.34" style="stop-color:#4882C5"/>
		<stop  offset="0.47" style="stop-color:#00A8DC"/>
		<stop  offset="0.77" style="stop-color:#FDD301"/>
		<stop  offset="1" style="stop-color:#EC1E29"/>
	</linearGradient>
	<polygon fill="url(#SVGID_3_)" points="155.1,197.7 130.5,83.7 78.3,70.1 143.4,227.6 308.3,270.6 307.3,268.3 	"/>
	
		<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="299.9922" y1="397.4375" x2="-33.5407" y2="104.3925" gradientTransform="matrix(1 0 0 -1 0 478)">
		<stop  offset="0" style="stop-color:#EC2A90"/>
		<stop  offset="6.000000e-02" style="stop-color:#D73597"/>
		<stop  offset="0.18" style="stop-color:#9F53A9"/>
		<stop  offset="0.34" style="stop-color:#4882C5"/>
		<stop  offset="0.47" style="stop-color:#00A8DC"/>
		<stop  offset="0.77" style="stop-color:#FDD301"/>
		<stop  offset="1" style="stop-color:#EC1E29"/>
	</linearGradient>
	<polygon fill="url(#SVGID_4_)" points="305.7,98.2 166.4,0 172.1,170.3 311.4,268.5 	"/>
	<path opacity="0.2" fill="#221F1F" enable-background="new    " d="M166.4,0c0,0,36.3,36.3,68.8,131c33,96,76.2,137.6,76.2,137.6
		l-139.3-98.2L166.4,0z"/>
</g>
</svg>
        </div> -->

        <div class="banner_content">
            <h1>
                <span>Best Business Setup & </span>
                <span>Pro Service Agency in </span>
				<span>Dubai</span>
            </h1>

            <div class="line_"></div>

            <p>All services at your Doorstep</p>

            <div class="banner_button_group">
                <a href="#about"  class="btn_primary"><span>Read More</span></a>
                <a href="{{whatsapp}}" target="_blank" class="btn_outline"><span>Chat With Us</span></a>
            </div>
        </div>

    </div>
</section>