<section class="in_section no_padding" id="contact">
    <div class="contact_map">
        <div class="map_">
            <picture>
                <source srcset="./images/contact-bg.png" />
                <img src="./images/contact-bg.png" loading="lazy" alt="Services SDCS" />
            </picture>

            <div class="marker_">
                <img src="./images/c-pin-white.svg" />
            </div>
        </div>
    </div>
    <div class="contact_container">
        <div class="container">
            <div class="contact_info">
                <div class="info_">
                    <div class="title_wrapper">
                        <h2><span>Contact Us</span></h2>
                    </div>
                    <ul class="address_">
                        <li>
                            <div class="icon_">
                                <img src="./images/c-pin.svg" />
                            </div>
                            <p>Office No. 206, <br/> 
                                Alphamed Building, <br/>
                                Abu hail, Dubai</p>
                        </li>

                        <li>
                            <div class="icon_">
                                <img src="./images/c-phone.svg" />
                            </div>
                            <p>+971 4 222 3498 <br/> +971 55 159 0712</p>
                        </li>

                        <li>
                            <div class="icon_">
                                <img src="./images/c-mail.svg" />
                            </div>
                            <p>info@sdcsdubai.com</p>
                        </li>
                    </ul>
                </div>
                <div class="chat_box">
                    <div class="title_">
                        <div class="icon_">
                            <img src="./images/chat.svg" />
                        </div>
                        <p>Chat with us for more details.</p>
                    </div>

                    <a href="#about" class="btn_outline"><span>Chat With Us</span></a>
                </div>
            </div>
        </div>
    </div>
</section>