<section class="in_section" id="services">

    <div class="bg_">
        <picture>
            <source srcset="./images/services-bg.png" />
            <img src="./images/services-bg.png" loading="lazy" alt="Services VISANDBIZ" />
        </picture>
    </div>

    <div class="container">
        <div class="title_wrapper white_">
            <h2><span>Our Services</span></h2>

            <div class="swiper_nav" data-s-nav="services">
                <button class="prev_">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38.464" height="39.707" viewBox="0 0 38.464 39.707">
                        <g id="prev" transform="translate(1.5 2.121)">
                          <rect id="Area" width="35" height="35" transform="translate(0.464 0)" fill="#fcfcfc" opacity="0"/>
                          <g id="Icon" transform="translate(0 0)">
                            <line id="c10c7a6f-d55e-4860-a4af-cc8799cc38e2" x1="35" transform="translate(0.464 18)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            <path id="caa8ae0b-72f7-441d-83c9-e60ed51d84a2" d="M34.875,7.143,17.143,24.875,34.875,42.607" transform="translate(-17.143 -7.143)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                          </g>
                        </g>
                      </svg>
                      
                </button>

                <button class="next_">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38.464" height="39.706" viewBox="0 0 38.464 39.706">
                        <g id="next" transform="translate(1.5 2.121)">
                          <rect id="Area" width="35" height="35" fill="#fcfcfc" opacity="0"/>
                          <g id="Icon" transform="translate(0 0)">
                            <line id="c10c7a6f-d55e-4860-a4af-cc8799cc38e2" x2="35" transform="translate(0 18)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            <path id="caa8ae0b-72f7-441d-83c9-e60ed51d84a2" d="M17.143,7.143,34.875,24.875,17.143,42.607" transform="translate(0.589 -7.143)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                          </g>
                        </g>
                      </svg>
                </button>
            </div>
        </div>

        <div class="services_wrapper">
            <div class="swiper_">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a href="#service1" data-nd-modal="service1" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_1.png" />
                                    <img src="./images/services_1.png" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>Business Setup</p> 
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#service2" data-nd-modal="service1" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_2.png" />
                                    <img src="./images/services_2.png" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>UAE Visa Services</p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#service3" data-nd-modal="service1" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_3.png" />
                                    <img src="./images/services_3.png" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>PRO Services</p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#service4" data-nd-modal="service1" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_8.jpeg" />
                                    <img src="./images/services_8.jpeg" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>Trade Mark Registration Services </p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#service5" data-nd-modal="service5" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_5.jpg" />
                                    <img src="./images/services_5.jpg" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>Certificate Attestation </p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#service6" data-nd-modal="service6" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_6.jpeg" />
                                    <img src="./images/services_6.jpeg" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>Office, Shop Arrangements</p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#service7" data-nd-modal="service7" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_7.jpeg" />
                                    <img src="./images/services_7.jpeg" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>Bank Account Assistance</p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#service8" data-nd-modal="service8" class="link_">
                            <div class="image_box">
                                <picture>
                                    <source srcset="./images/services_4.png" />
                                    <img src="./images/services_4.png" loading="lazy" alt="Services VISANDBIZ" />
                                </picture>
                            </div>
                            <p>Website Development</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="service_modal" id="service1">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_1.png" />
                    <img src="./images/services_1.png" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>Business Setup</h4>
            <div class="text_area">
                <p>VISANDBIZ Offering complete business setup and company formation solutions, knowledge and
                    professional advice to companies already established or companies intending to set up operations in
                    the U.A.E. Our services and solutions are designed to provide information to those challenging
                    investors who want to establish a business in world’s fastest growing and secure business empire of
                    U.A.E. We offer Quality and Excellent services for Local, Regional and International business all over
                    U.A.E. We are committed to provide comprehensive solutions and optimal services to our entire
                    customers who want to build up their business entity in U.A.E.</p>

                    <p>Setting up a business in UAE involves complexities in the entire process. We truly understand this
                        and guide our esteemed clients accordingly. Well-acquainted with the complete know how of
                        government related activities, we have successfully delivered a suite of professional services:
                        Employment Visa Services, Maid Visa Services, Dependent Visa Services, including the procurement
                        of outbound visa in U.A.E.</p>

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="service2">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_2.png" />
                    <img src="./images/services_2.png" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>UAE Visa Services</h4>
            <div class="text_area">
                <p>The UAE Government issues various categories of VISA and entry permits based on your purpose.
                    Business VISA, Employment VISA, Dependent VISA, Tourist VISA, Golden VISA, Green VISA,
                    Retirement VISA, Student VISA, Properties owner VISA etc. VISANDBIZ having a well experienced
                    professional team to handle all types of VISAs with assisting end to end service Including Medical,
                    Emirates ID, Insurance, Ministry of labour related Approvals, emigration department approvals and
                    all other department approvals related to VISA process. VISANDBIZ will complete all the process in house
                    without visiting our clients to any authorities or depending any third parties. For more information
                    or any query about processing of VISA we are giving free consultation any time round the clock.</p>

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="service3">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_3.png" />
                    <img src="./images/services_3.png" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>PRO Services</h4>
            <div class="text_area">
                <p>VISANDBIZ is one of the best Government Related Documents clearing partner for many leading
                    companies and individual in town. PRO Service is a task that requires utmost trust and deep
                    knowledge about the procedures of the government transactions and the government laws. What
                    
                    set us apart from others is to get things done with utmost accuracy and within the specified time
                    frame. As a PRO Team we are keeps on updating Ourselves day by day along with one of the fast
                    growing country in the world. Our team is ready to provide all the information and updates about
                    the government procedures and latest rules and regulations. We ensure our clients are up to date
                    and complying all the government rules related licenses, permits and employee relations that help
                    the companies to reduce the risk, save money and time as well as peace of mind to focus their core
                    business Activities.</p>

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="service4">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_8.jpeg" />
                    <img src="./images/services_8.jpeg" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>Trade Mark Registration Services</h4>
            <div class="text_area">
                <p>Trade mark registration is basically protect your brand identity that make unique your company or
                    products in the market.An unique trade mark can help your customer to identify you and reach you
                    easily. VISANDBIZ help you to get it done your unique trade mark registration with associating our well
                    experienced and authorized intellectual property rights management team. We provide the service
                    for Trade mark Registration, Logo Registration, Patents, Copyrights and product registration.</p>

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="service5">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_1.png" />
                    <img src="./images/services_1.png" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>Certificate Attestation</h4>
            <div class="text_area">
                <p>All the certificates and documents intended to use within the United Arab Emirates required
                    authentication also called Certificate attestation. VISANDBIZ help you to get attested many types of
                    certificates issued by inside or outside of UAE. We are handling Birth Certificates, Death Certificates,
                    Marriage Certificates, Educational Certificates, court Issued Certificates, Document of fingerprint,
                    Power of Attorneys, Good conduct Certificates, Medical Reports, Work experience certificates, To
                    whom it may concern certificates and all commercial documents the required to be attested with
                    highly secure your documents and stipulated time period.</p>

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="service6">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_6.jpeg" />
                    <img src="./images/services_6.jpeg" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>Office, Shop Arrangements</h4>
            <div class="text_area">
                <!-- <p>All the certificates and documents intended to use within the United Arab Emirates required
                    authentication also called Certificate attestation. VISANDBIZ help you to get attested many types of
                    certificates issued by inside or outside of UAE. We are handling Birth Certificates, Death Certificates,
                    Marriage Certificates, Educational Certificates, court Issued Certificates, Document of fingerprint,
                    Power of Attorneys, Good conduct Certificates, Medical Reports, Work experience certificates, To
                    whom it may concern certificates and all commercial documents the required to be attested with
                    highly secure your documents and stipulated time period.</p> -->

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="service7">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_7.jpeg" />
                    <img src="./images/services_7.jpeg" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>Bank Account Assistance</h4>
            <div class="text_area">
                <!-- <p>All the certificates and documents intended to use within the United Arab Emirates required
                    authentication also called Certificate attestation. VISANDBIZ help you to get attested many types of
                    certificates issued by inside or outside of UAE. We are handling Birth Certificates, Death Certificates,
                    Marriage Certificates, Educational Certificates, court Issued Certificates, Document of fingerprint,
                    Power of Attorneys, Good conduct Certificates, Medical Reports, Work experience certificates, To
                    whom it may concern certificates and all commercial documents the required to be attested with
                    highly secure your documents and stipulated time period.</p> -->

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="service8">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <picture>
                    <source srcset="./images/services_4.png" />
                    <img src="./images/services_4.png" loading="lazy" alt="Services VISANDBIZ" />
                </picture>
            </div>
        </div>
        <div class="content_">
            <h4>Website Development</h4>
            <div class="text_area">
                <p>Our team is comprised of the best-of-the-best web design and digital marketing pros in the business. We use cutting edge technologies to create a customized website that will make your company stand out from competitors. Our creative thinking combined with an ability to solve technical challenges leaves clients satisfied knowing they're getting top notch service for their buck.

                </p>

               <div class="btn_group">
                <a href="{{whatsapp}}" class="btn_primary"><span>Enquiry Now</span></a>
               </div>
            </div>
        </div>
    </div>
</div>