<section class="in_section" id="widget">
    <div class="container">

        <div class="widget_wrapper">
            <div class="item_">
                <a href="#widget1" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-01.svg" alt="">
                        </div>
                    </div>

                    <div class="title_">Honesty</div>
                </a>
            </div>

            <div class="item_">
                <a href="#widget2" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-02.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Service</div>

                </a>
            </div>

            <div class="item_">
                <a href="#widget3" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-03.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Reliability</div>

                </a>
            </div>

            <div class="item_">
                <a href="#widget4" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-04.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Efficiency</div>

                </a>
            </div>

            <div class="item_">
                <a href="#widget5" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-05.svg" alt="">
                        </div>
                         <div class="title_">We care</div>

                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

<div class="service_modal" id="widget1">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-01.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Honesty</h4>
            <div class="text_area">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime recusandae reprehenderit, id asperiores iusto minima nulla atque fugit, quae libero illo molestiae! Quia fuga, suscipit fugit provident obcaecati totam error alias itaque qui nostrum neque sunt ullam laudantium, similique debitis cumque quod vel veritatis ducimus quas esse? Ducimus eveniet laudantium dignissimos, pariatur nobis voluptatum, consectetur animi mollitia sapiente perferendis hic, itaque impedit quibusdam laborum. Totam temporibus earum incidunt iusto unde distinctio quas tenetur, quod, ducimus quae vel nisi mollitia libero aperiam officiis et beatae sapiente quo fugiat quam nulla reprehenderit facere rem. Excepturi necessitatibus delectus recusandae blanditiis obcaecati vitae totam.</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget2">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-02.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Service</h4>
            <div class="text_area">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime recusandae reprehenderit, id asperiores iusto minima nulla atque fugit, quae libero illo molestiae! Quia fuga, suscipit fugit provident obcaecati totam error alias itaque qui nostrum neque sunt ullam laudantium, similique debitis cumque quod vel veritatis ducimus quas esse? Ducimus eveniet laudantium dignissimos, pariatur nobis voluptatum, consectetur animi mollitia sapiente perferendis hic, itaque impedit quibusdam laborum. Totam temporibus earum incidunt iusto unde distinctio quas tenetur, quod, ducimus quae vel nisi mollitia libero aperiam officiis et beatae sapiente quo fugiat quam nulla reprehenderit facere rem. Excepturi necessitatibus delectus recusandae blanditiis obcaecati vitae totam.</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget3">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-03.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Reliability</h4>
            <div class="text_area">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime recusandae reprehenderit, id asperiores iusto minima nulla atque fugit, quae libero illo molestiae! Quia fuga, suscipit fugit provident obcaecati totam error alias itaque qui nostrum neque sunt ullam laudantium, similique debitis cumque quod vel veritatis ducimus quas esse? Ducimus eveniet laudantium dignissimos, pariatur nobis voluptatum, consectetur animi mollitia sapiente perferendis hic, itaque impedit quibusdam laborum. Totam temporibus earum incidunt iusto unde distinctio quas tenetur, quod, ducimus quae vel nisi mollitia libero aperiam officiis et beatae sapiente quo fugiat quam nulla reprehenderit facere rem. Excepturi necessitatibus delectus recusandae blanditiis obcaecati vitae totam.</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget4">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-04.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Efficiency</h4>
            <div class="text_area">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime recusandae reprehenderit, id asperiores iusto minima nulla atque fugit, quae libero illo molestiae! Quia fuga, suscipit fugit provident obcaecati totam error alias itaque qui nostrum neque sunt ullam laudantium, similique debitis cumque quod vel veritatis ducimus quas esse? Ducimus eveniet laudantium dignissimos, pariatur nobis voluptatum, consectetur animi mollitia sapiente perferendis hic, itaque impedit quibusdam laborum. Totam temporibus earum incidunt iusto unde distinctio quas tenetur, quod, ducimus quae vel nisi mollitia libero aperiam officiis et beatae sapiente quo fugiat quam nulla reprehenderit facere rem. Excepturi necessitatibus delectus recusandae blanditiis obcaecati vitae totam.</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget5">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-05.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>We care</h4>
            <div class="text_area">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime recusandae reprehenderit, id asperiores iusto minima nulla atque fugit, quae libero illo molestiae! Quia fuga, suscipit fugit provident obcaecati totam error alias itaque qui nostrum neque sunt ullam laudantium, similique debitis cumque quod vel veritatis ducimus quas esse? Ducimus eveniet laudantium dignissimos, pariatur nobis voluptatum, consectetur animi mollitia sapiente perferendis hic, itaque impedit quibusdam laborum. Totam temporibus earum incidunt iusto unde distinctio quas tenetur, quod, ducimus quae vel nisi mollitia libero aperiam officiis et beatae sapiente quo fugiat quam nulla reprehenderit facere rem. Excepturi necessitatibus delectus recusandae blanditiis obcaecati vitae totam.</p>

            </div>
        </div>
    </div>
</div>