<section class="in_section" id="widget">
    <div class="container">

        <div class="widget_wrapper">
            <div class="item_">
                <a href="#widget1" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-01.svg" alt="">
                        </div>
                    </div>

                    <div class="title_">Honesty</div>
                </a>
            </div>

            <div class="item_">
                <a href="#widget2" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-02.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Service</div>

                </a>
            </div>

            <div class="item_">
                <a href="#widget3" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-03.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Reliability</div>

                </a>
            </div>

            <div class="item_">
                <a href="#widget4" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-04.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Efficiency</div>

                </a>
            </div>

            <div class="item_">
                <a href="#widget5" data-nd-modal class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-05.svg" alt="">
                        </div>
                         <div class="title_">We care</div>

                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

<div class="service_modal" id="widget1">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-01.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Honesty</h4>
            <div class="text_area">
                <p>We will always be 100% open and honest regarding any fees and charges. Unlike many of
                    our competitors, we won’t attempt to hide fees or overcharge on government costs just to increase
                    profit, we believe in complete transparency</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget2">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-02.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Service</h4>
            <div class="text_area">
                <p>A company is measured by the satisfaction of its clients. At VISANDBIZ, we don’t want our clients
                    to be just satisfied, we want them to be delighted! We will happily go the extra mile to ensure that
                    each client receives the highest level of service and the experience. If our clients aren’t happy then
                    we aren’t happy.
                </p>

                <p>However, there are other reasons why VISANDBIZ should be your choice of service provider.</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget3">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-03.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Reliability</h4>
            <div class="text_area">
                <p>We will never over-promise and under-deliver. We will give you comprehensive
                    timelines, which clearly set out the different stages of the process involved to setup your company.</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget4">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-04.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>Efficiency</h4>
            <div class="text_area">
                <p>Everything we do for you will be completed in the fastest, most efficient way possible,
                    without cutting corners.</p>

            </div>
        </div>
    </div>
</div>

<div class="service_modal" id="widget5">
    <div class="inner_">
        <div class="image_">
            <div class="image_box">
                <div class="icon_">
                    <img src="./images/widget-05.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content_">
            <h4>We care</h4>
            <div class="text_area">
                <p>Our staff provide a personal touch. We care about you and your needs. We strive to
                    always exceed expectations and our aim is not only to meet targets but to over deliver.</p>

            </div>
        </div>
    </div>
</div>