<section class="in_section" id="widget">
    <div class="container">

        <div class="widget_wrapper">
            <div class="item_">
                <a href="#" class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-01.svg" alt="">
                        </div>
                    </div>

                    <div class="title_">Honesty</div>
                </a>
            </div>

            <div class="item_">
                <a href="#" class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-02.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Service</div>

                </a>
            </div>

            <div class="item_">
                <a href="#" class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-03.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Reliability</div>

                </a>
            </div>

            <div class="item_">
                <a href="#" class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-04.svg" alt="">
                        </div>
                    </div>
                    <div class="title_">Efficiency</div>

                </a>
            </div>

            <div class="item_">
                <a href="#" class="link_">
                    <div class="image_box">
                        <div class="icon_">
                            <img src="./images/widget-05.svg" alt="">
                        </div>
                         <div class="title_">We care</div>

                    </div>
                </a>
            </div>
        </div>

    </div>
</section>