<header>
    <div class="header_container">
        <div class="nav_logo">
            <a href="/" class="nav_logo_link">
                <img src="./images/logo.svg" alt="SDCS" />
            </a>
        </div>

        <nav class="navbar_">
            <ul class="nav_list">
                <li>
                    <a href="mailto:info@sdcs.com" class="btn_trans">
                        <i><img src="./images/mail.svg"/></i>
                        <span>info@sdcs.com</span>
                    </a>
                </li>
                <li>
                    <a href="tel:+97142223498" class="btn_trans">
                        <i><img src="./images/phone.svg"/></i>
                        <span>+971 4 222 3498</span>
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/+971565704704" class="btn_trans">
                        <i><img src="./images/whatsapp.svg"/></i>
                        <span>+971 56 570 4704</span>
                    </a>
                </li>
                <li class="res_mob">
                    <button id="menuToggler" class="toggler_">
                        <span></span>
                    </button>
                </li>
            </ul>
            <ul class="nav_list full_res_view">
                <li>
                    <a href="#home" data-hash="#home" class="nav_link">Home</a>
                </li>
                <li><a href="#about" data-hash="#about" class="nav_link">About Us</a> </li>
                <li><a href="#services" data-hash="#services" class="nav_link">Our Services</a> </li>
                <li> <a href="#associates" data-hash="#associates" class="nav_link">Our Associates</a> </li>
                <li><a href="#testimonials" data-hash="#testimonials" class="nav_link">Testimonials</a> </li>
                <li><a href="#contact" data-hash="#contact" class="nav_link">Contact Us</a> </li>
            </ul>
        </nav>
    </div>
</header>